@import 'setting.scss';

.banner {
	img{
		max-width: 100%;
		padding-bottom: 20px;
	}
}

.main {
	background: rgb(247, 247, 247);
	.products {
		display: flex;
		padding-bottom: 30px;
		.filter {
			.share {
				display: flex;
				align-items: center;
				p {
					margin-left: 5px;
				}
				img {
					width: 46px;
					height: 46px;
					transition: all 0.5s ease;
					&:hover {
						transform: scale(1.15);
					}
				}
			}
			.selection {
				select {
					width: 276px;
					height: 37px;
					text-align: left;
					text-transform: uppercase;
					background: transparent;
					color: rgb(48, 48, 48);
					margin-top: 30px;
					font-weight: normal;
					cursor: pointer;
					display: flex;
					-webkit-box-pack: justify;
					justify-content: space-between;
					font-size: 16px;
					color: rgb(48, 48, 48);
					// color:rgb(155, 155, 155);
					border: none;
					border-bottom: 2px solid rgb(234, 234, 234);
					-webkit-box-align: center;
					align-items: center;
					padding: 5px 10px;
					transition: background 0.2s ease-in 0s;
					outline: none !important;
					option {
						border: 0;
					}
					option:checked {
						display: flex;
						color: rgb(187, 150, 100);
						border-left: 0.3rem solid rgb(187, 150, 100);
						font-weight: bold;
						cursor: pointer;
						padding: 0.5rem 0px 0.5rem 0.7rem;
						-webkit-box-pack: justify;
						justify-content: space-between;
						-webkit-box-align: center;
						align-items: center;
						transition: background 0.2s ease-in 0s;
					}
				}
				ul {
					padding-top: 10px;
					li {
						text-decoration: none;
						font-weight: normal;
						text-transform: uppercase;
						display: flex;
						-webkit-box-align: center;
						align-items: center;
						padding: 5px 10px;
						margin-left: 0px;
						border-bottom: 2px solid rgb(234, 234, 234);
						a {
							color: rgb(48, 48, 48);
							font-size: 16px;
						}
					}
				}
			}
		}
		.product_side {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			transition: transform 300ms ease-out 0ms, box-shadow 300ms ease-out 0ms;
			.card {
				max-width: 314px;
				background-color: #fff;
				transition: all 0.5s ease;
				margin-right: 30px;
				margin-left: 30px;
				margin-top: 30px;
				overflow: hidden;
				.mainf {
					h3 {
						padding: 0.5rem 0.8rem 0px !important;
						text-align: initial;
						text-transform: uppercase;
						font-weight: bold;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						min-height: 60px;
						@include txt();
						span {
							@include txt();
							text-transform: uppercase;
							font-size: 16px;
							font-weight: bold;
							color: rgb(0, 84, 150);
							text-align: initial;
						}
					}
					p {
						padding: 0.5rem 0.8rem 0px !important;
						font-family: "Open Sans Regular";
						color: rgb(195, 195, 195);
						font-size: 14px;
						text-align: initial;
					}
				}				
				.moinf {
					.price__f {
						padding-bottom: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						.pricet {
							cursor: pointer;
							color: rgb(55, 112, 176);
							font-size: 16px;
							margin-right: 2px;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.bbtn {
							display: flex;
							align-items: center;
							position: relative;
							left: 83px;
							.basket {
								background-color: #000;
								width: 42px;
								height: 28px;
								img {
									position: relative;
									top: 7px;
									left: 5px;
								}
							}
						}
					}
					.price__s {
						padding-top: 10px;
						padding-bottom: 20px;
						display: flex;
						justify-content: center;
						align-items: center;
						.pricet {
							cursor: pointer;
							color: rgb(197, 166, 120);
							font-size: 16px;
							margin-right: 2px;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.bbtn {
							display: flex;
							align-items: center;
							position: relative;
							left: 83px;
							.basket {
								background-color: rgb(197, 166, 120);
								width: 42px;
								height: 28px;
								img {
									position: relative;
									top: 7px;
									left: 5px;
								}
							}
						}
					}
				}
				.lz {
					display: flex;
					font-size: 14px;
					-webkit-box-pack: justify;
					justify-content: space-around;
					border-width: 1px;
					border-style: solid;
					border-color: rgb(215, 215, 215) transparent transparent;
					border-image: initial;
					padding: 1em;
					background-color: rgb(255, 255, 255);
					cursor: pointer;
					transition: background-color 0.2s ease-in-out 0s;
					p	 {
						cursor: pointer;
						color: rgb(0, 84, 150);
						user-select: none;
						font-size: 12px;
						text-align: left;
					}
					&:hover {
						background-color: rgb(234, 234, 234);
  					border: 1px solid rgb(215, 215, 215);
					}
				}
				&:hover {
					box-shadow: rgb(228, 228, 228) 0px 0px 8px 5px;
  				transform: scale(1.02);
				}
			}
		}
	}
	
}

