@import 'setting.scss';

header {
  .upheader {
    background-color: #000;
    .container {
      ul {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0.7rem 0px;
        li {
          a {
            color: #fff;
            cursor: pointer;
            padding: 0.5rem;
            transition: all 0.2s ease-in-out 0s;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}